@import "../../.cache/wal/colors-waybar.css";

/*-------------------------------------------------*/
/* DECLARIATIONS */
@define-color critical @urgent;
@define-color alert   @urgent;
@define-color warning #E49B39;
@define-color fgcolor @foreground;
@define-color bgcolor @background;

@define-color bgalpha__0_1 @background-alpha__0_1;
@define-color bgalpha__0_2 @background-alpha__0_2;
@define-color bgalpha__0_3 @background-alpha__0_3;
@define-color bgalpha__0_4 @background-alpha__0_4;
@define-color bgalpha__0_5 @background-alpha__0_5;
@define-color bgalpha__0_6 @background-alpha__0_6;
@define-color bgalpha__0_7 @background-alpha__0_7;
@define-color bgalpha__0_8 @background-alpha__0_8;
@define-color bgalpha__0_9 @background-alpha__0_9;

@define-color fgalpha @foreground-alpha__0_6;

@define-color accent1 @color1;
@define-color accent2 @color2;
@define-color accent3 @color3;
@define-color accent4 @color4;
@define-color accent5 @color5;
@define-color accent6 @color6;
@define-color accent7 @color7;
@define-color accent8 @color8;
@define-color accent9 @color9;
@define-color accent10 @color10;
@define-color accent11 @color11;
@define-color accent12 @color12;
@define-color accent13 @color13;
@define-color accent14 @color14;
@define-color accent15 @color15;

/*------------------------------------------*/
/* GLOBAL PROPS */
* {
  all: initial;
  color: @foreground;
  font-family: "Ubuntu Nerd Font";
  font-weight: 500;
  min-height: 4px;
  font-size: 96%;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

/*--------------------------------------------*/
/* MAIN WINDOW */
window#waybar {
  background-color: transparent;
  color: @foreground;
}

window#waybar.empty {
  background-color: transparent;
}
window#waybar.empty #window {
  padding: 0px;
  border: 0px;
  background-color: transparent;
}
/* TOOLTIPS */
tooltip {
  background: @background-alpha__0_7;
  border-radius: 2px;
  border: none;
  padding: 0;
  min-width: 500px;
}

tooltip label {
  color: @accent6;
  padding: 0.5rem 1rem;
}

/* LEFT SECTION MODULES */
/* WORKSPACES */
#workspaces {
  color: @bgcolor;
  background-color: @accent5;
  border-radius: 2px 0 0 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-bottom: 1px;
}

#workspaces button {
  background-color: transparent;
  box-shadow: none;
  text-shadow: none;
  border-radius: 2px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 2px;
  margin-right: 2px;
}

#workspaces button:not(.active) > * {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  opacity: 0.6;
  color: @accent5;
}

#workspaces button:not(.active) {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  background-color: @background-alpha__0_2;
}

#workspaces button.active {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  background-color: @background-alpha__0_7;
}

#workspaces button:not(.active):hover > *:nth-child(1),
#workspaces button:not(.active):focus > *:nth-child(1) {
  opacity: 1;
}

#workspaces button.focused,
#workspaces button:hover {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  background-color: @background-alpha__0_7;
  color: @accent3;
}

#workspaces button.urgent {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  background-color: @critical;
  color: @foreground;
}

/* PULSEAUDIO */
/* pulseaudio wrapper */
.modules-left > *:nth-child(4) > *:last-child {
  margin-bottom: 1px;
  border-radius: 0 2px 2px 0;
  background-color: @accent9;
  padding-right: 0.5rem;
}

#pulseaudio {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  color: @color0;
  background-color: @accent9;
}

#custom-recording {
  color: @background;
  margin-bottom: 1px;
  margin-left: -2px;
  border-radius: 0 2px 2px 0;
  padding-left: 0.5rem;
  padding-right: 0.75rem;
  background: @accent9;
}

/* HACK: slantend separator */

.modules-left > *:nth-child(2),
.modules-left > *:nth-child(3),
/* ai */
.modules-right > *:nth-child(2),
/* motherboard */
.modules-right > *:nth-child(3),
.modules-right > *:nth-child(5),
/* keyboard */
.modules-right > *:nth-child(6),
.modules-right > *:nth-child(8),
/* tray */
.modules-right > *:nth-child(9),
.modules-right > *:nth-child(11),
.modules-right > *:nth-child(12) {
  padding: 0;
  font-size: 173%;
  background-color: transparent;
}

/*fixes for weird 1px gaps*/
.modules-left > *:nth-child(2) > *,
.modules-left > *:nth-child(3) > *,
.modules-right > *:nth-child(3) > *,
.modules-right > *:nth-child(6) > *,
.modules-right > *:nth-child(9) > *,
.modules-right > *:nth-child(12) > * {
  margin-right: -1px;
}

.modules-left > *:nth-child(2) > * {
  margin-left: -4px;
  color: @accent5;
}

.modules-left > *:nth-child(3) > * {
  color: @accent9;
}
/*---------------------------------------------------------*/
/* MIDDLE SECTION MODULES */
/* IDLE INHIBITOR */

.modules-center {
  background-color: @accent14;
  border-radius: 2px;
}

#idle_inhibitor {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 2px 0 0 2px;
  font-size: 0.8rem;
  color: @background;
}

#idle_inhibitor.activated {
  color: #eb6f92;
}

/* CLOCK */
#clock {
  font-size: 95%;
  color: @background;
  padding-right: 0.5rem;
}

#custom-weather {
  font-size: 95%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 2px;
  color: @foreground;
  background-color: @background-alpha__0_7;
  margin: 2px 0.5rem 2px 2px;
}

#custom-updates {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  font-size: 110%;
  color: @background;
}

/* RIGHT SECTION MODULES */
/* HACK: slantend separators */
.modules-right > *:nth-child(1) > * {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.modules-right > *:nth-child(2) > * {
  color: @accent2;
}

.modules-right > *:nth-child(4) > * {
  color: @accent2;
}

.modules-right > *:nth-child(5) > * {
  color: @accent7;
}

.modules-right > *:nth-child(6) > *,
.modules-right > *:nth-child(8) > * {
  color: @background;
}

.modules-right > *:nth-child(9) > *,
.modules-right > *:nth-child(11) > * {
  color: @accent4;
}
/* OLLAMA SECTION */

#localai {
  background-color: @accent2;
  margin-bottom: 1px;
}

#custom-ollama-state {
  background-position: left;
  background-repeat: no-repeat;
  background-size: 12px;
  margin: 5px;
  background-image: url("/home/tomeczku/.config/waybar/assets/ollama.svg");
  color: @background;
}

#custom-gpu-usage {
  min-width: 44px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 14px;
  margin: 5px;
  background-image: url("/home/tomeczku/.config/waybar/assets/gpu.svg");
  color: @background;
}

#custom-ollama-model {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: @background;
}

/* MOTHERBOARD SECTION */
#cpu,
#memory,
#temperature,
#disk {
  min-width: 36px;
  background-color: @accent7;
  color: @background;
  margin-bottom: 1px;
  margin-bottom: 1px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#temperature.critical {
  background-color: @critical;
}

/* KEYBOARD SECTION */
#keyboard-state > *,
#language > * {
  color: @accent5;
}

#keyboard {
  padding-left: 0.5rem;
  margin-bottom: 1px;
  background-color: @background;
}

#language {
  margin-right: 0.5rem;
}

/* NATIVE WAYBAR MENU */
menu {
  padding: 1rem 0.5rem;
  border-radius: 2px;
  background: @background-alpha__0_7;
  color: @foreground;
}

menuitem {
  padding: 0.5rem 1rem;
}

menuitem:hover {
  background-color: @accent4;
}

menuitem > * {
  color: @foreground;
}

/* TRAY SECTION */
#tray {
  padding: 2px 0.5rem;
  margin-bottom: 1px;
  background-color: @accent4;
  color: @foreground;
}

#tray .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @critical;
}

#tray widget image {
  -gtk-icon-style: symbolic;
}

#tray widget window menu {
  background: @background-alpha__0_7;
  padding-top: 1rem;
}

#tray widget window menu {
  border-radius: 2px;
  font-weight: 400;
  font-size: 1rem;
  border: none;
}

/* tray menu items  and hover state for  them */
#tray widget window menu menuitem {
  background: none;
  padding: 0.5rem 1rem;
}

#tray widget window menu menuitem:hover {
  background-color: @accent4;
}

/* top and bottom menu border radius values */
#tray widget window menu menuitem:first-child {
  border-radius: 2px 2px 0 0;
}

#tray widget window menu menuitem:last-child {
  border-radius: 0 0 2px 2px;
}

/* inactive menu items (desc) */
#tray widget window menu menuitem:disabled {
  background-color: @accent4;
  border-radius: 0;
}

#tray widget window menu menuitem:disabled * {
  font-weight: bold;
  color: @fgalpha;
}

/* menu separators and how to hack them into a narrow line 
without access to height in gtk css XD */
#tray widget window menu separator {
  background-color: transparent;
  border-bottom: 1px solid @accent4;
  margin-top: -0.85rem;
}

/* hide the bottom separator */
#tray widget window menu separator:last-child {
  opacity: 0;
}

/* final section */
#finalspace {
  background-color: @accent15;
  margin-bottom: 1px;
  border-radius: 0 2px 2px 0;
}

#finalspace * {
  color: @background;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#finalspace #custom-swaync {
  font-size: 140%;
  padding-left: 0;
  min-width: 36px;
}

#finalspace #custom-power {
  font-size: 85%;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 8px;
  border-radius: 2px;
  background-color: @background-alpha__0_7;
}

#network {
  color: @accent3;
}

#network.disconnected {
  color: @alert;
}

#custom-power {
  color: @critical;
}

#keyboard-state {
  color: @accent6;
}

#keyboard-state label {
  padding-left: 6px;
  padding-right: 6px;
}

#taskbar button.active {
  background-color: #7f849c;
  padding-left: 12px;
  padding-right: 12px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#taskbar button:hover {
  padding-left: 3px;
  padding-right: 3px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#mpd {
  color: #2a5c45;
}

#mpd.disconnected {
  background-color: #f53c3c;
}

#mpd.stopped {
  background-color: #90b1b1;
}

#mpd.paused {
  background-color: #51a37a;
}

#pulseaudio-slider slider {
  min-width: 0px;
  min-height: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

#pulseaudio-slider trough {
  min-width: 80px;
  min-height: 5px;
  border-radius: 2px;
}

#pulseaudio-slider highlight {
  background: @accent3;
  min-height: 10px;
  border-radius: 2px;
}

#backlight-slider slider {
  min-width: 0px;
  min-height: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

#backlight-slider trough {
  min-width: 80px;
  min-height: 10px;
  border-radius: 2px;
}

#backlight-slider highlight {
  min-width: 10px;
  border-radius: 2px;
}
