@import url("file:///home/tomeczku/.cache/wallust/targets/waybar.css");
/* WARN: #############################################
   DECLARATIONS ######################################
   ################################################### */
/* hardcoded */
@define-color critical #d0422f;
@define-color warning #f08e16;
@define-color workspaces_bg @color5;
@define-color pulseaudio_bg @color9;
@define-color middle_section_bg @color7;
@define-color ollama_bg @color11;
@define-color system_bg @color6;
@define-color keyboard_bg @background;
@define-color tray_bg @color4;
@define-color finalspace_bg @color1;

/* WARN: #############################################
   GLOBAL ######################################
   ################################################### */

* {
  all: initial;
  color: @foreground;
  font-family: "Ubuntu Nerd Font";
  font-weight: 400;
  min-height: 4px;
  font-size: 1rem;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

#custom-left-slant {
  font-size: 1.4rem;
}

#custom-right-slant {
  margin-bottom: -1px;
  font-size: 1.4rem;
}

/* WARN: #############################################
   LEFT SECTION ######################################
   ################################################### */

#workspaces {
  background: @workspaces_bg;
  color: @bgcolor;
  border-radius: 2px 0 0 2px;
  padding: 1px 0;
  font-size: 1.5rem;
}

#workspaces * {
  font-size: 0.8rem;
}

#workspaces button:not(.active) > * {
  opacity: 0.6;
}

#workspaces button:not(.active) {
  background-color: @background-alpha__0_3;
}

#workspaces button.active {
  background-color: @background-alpha__0_7;
}

#workspaces button:not(.active):hover > *:nth-child(1),
#workspaces button:not(.active):focus > *:nth-child(1) {
  opacity: 1;
}

#workspaces button.focused,
#workspaces button:hover {
  background-color: @background;
}

#workspaces button.urgent {
  background-color: @critical;
  color: @foreground;
}

#workspaces button {
  padding: 0 0.5rem;
  background-color: transparent;
  box-shadow: none;
  text-shadow: none;
  margin: 0 0.25rem;
  transition: all 250ms ease-in-out;
}

.modules-left > *:nth-child(4) > *:last-child {
  background-color: @pulseaudio_bg;
}

#pulseaudio {
  font-size: 1rem;
  margin: 0 0.5rem;
  color: @background;
  background-color: @pulseaudio_bg;
}

#custom-recording {
  color: @background;
  padding: 0 0.5rem;
  background: @pulseaudio_bg;
  transition: all 250ms ease-in-out;
}

/* WARN: #############################################
   MIDDLE SECTION ####################################
   ################################################### */
.modules-center {
  background-color: @middle_section_bg;
}

/* INFO: #############################################
   CLOCK #############################################
   ################################################### */
#clock {
  color: @background;
  font-size: 1rem;
  font-weight: 500;
  padding: 0 0.75rem;
  transition: all 250ms ease-in-out;
}

/* INFO: #############################################
   WEATHER ###########################################
   ################################################### */
#custom-weather {
  color: @background;
  font-size: 1rem;
  padding: 0 0.5rem;
  background: transparent;
  transition: all 250ms ease-in-out;
}

/* INFO: #############################################
   FEDORA UPDATES ####################################
   ################################################### */
#custom-updates {
  color: @background;
  padding: 0 0.75rem;
  font-size: 1rem;
  transition: all 250ms ease-in-out;
}

#clock:hover,
#custom-weather:hover,
#custom-updates:hover {
  color: @foreground;
  background: @background-alpha__0_3;
}

/* WARN: #############################################
   LEFT SECTION ######################################
   ################################################### */

/* INFO: #############################################
   OLLAMA MODEL ######################################
   ################################################### */
#custom-ollama-model {
  background: @ollama_bg;
  color: @background;
}

/* INFO: #############################################
   OLLAMA STATUS #####################################
   ################################################### */
#localai {
  color: @background;
  background: @ollama_bg;
  padding: 0 0.75rem;
}

#custom-ollama-state {
  color: @background;
  padding: 0 0.25rem;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 1.25rem;
  background-image: url("./assets/ollama.svg");
}

/* INFO: #############################################
   GPU USAGE #########################################
   ################################################### */
#custom-gpu-usage {
  color: @background;
  background-image: url("/home/tomeczku/.config/waybar/assets/gpu.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 35%;
  font-size: 0.75rem;
}

/* INFO: #############################################
   SYSTEM STATS ######################################
   ################################################### */
#cpu,
#memory,
#temperature,
#disk {
  font-size: 0.75rem;
  min-width: 2.75rem;
  background-color: @system_bg;
  color: @background;
  padding: 0 0.25rem;
}

#cpu {
  padding-left: 0.75rem;
}

#disk {
  padding-right: 0.75rem;
}

#temperature.critical {
  background-color: @critical;
}

/* INFO: #############################################
   KEYBOARD LANG #####################################
   ################################################### */
#keyboard-state > *,
#language > * {
  color: @foreground;
}

#language {
  background: @keyboard_bg;
  font-weight: 700;
  font-size: 0.75rem;
  min-width: 2rem;
  margin: 0 0.5rem;
}

#keyboard {
  background-color: @keyboard_bg;
}

#custom-capslock {
  background: @keyboard_bg;
  background-image: url("./assets/caps-unlocked.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#custom-capslock.locked {
  background-image: url("./assets/caps-locked.svg");
}

#keyboard {
  padding-left: 0.5rem;
}

#custom-capslock {
  padding-right: 1rem;
}

/* INFO: #############################################
   SYSTEM TRAY #######################################
   ################################################### */
#tray {
  background: @tray_bg;
  color: @foreground;
  padding: 2px 0.75rem;
}

#tray .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @critical;
}

/* INFO: #############################################
   TRAY MENU WIDGET ##################################
   ################################################### */

#tray widget window menu {
  background: transparent;
  font-size: 1.05rem;
  border: none;
  padding-top: 1.75rem;
}

/* tray menu items  and hover state for  them */
#tray widget window menu menuitem {
  background: @background-alpha__0_7;
  padding: 0.25rem 0.75rem;
}

#tray widget window menu menuitem:hover {
  background-color: @tray_bg;
}
#tray widget window menu menuitem:hover > * {
  color: @background;
}

/* inactive menu items (desc) */
#tray widget window menu menuitem:disabled {
  background-color: @tray_bg;
}

#tray widget window menu menuitem:disabled * {
  font-weight: bold;
  color: @background-alpha__0_3;
}

#tray widget window menu separator {
  background-color: transparent;
  border-bottom: 1px solid @tray_bg;
  margin-top: -0.85rem;
}

/* hide the bottom separator */
#tray widget window menu separator:last-child {
  opacity: 0;
}

/* INFO: #############################################
   END MODULES COMPOUND ##############################
   ################################################### */

#finalspace * {
  background: @finalspace_bg;
  color: @background;
}

#finalspace #idle_inhibitor {
  padding: 0 1.25rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.25rem;
  background-image: url("./assets/lock-clock.svg");
  transition: all 250ms ease-in-out;
}

#finalspace #idle_inhibitor:hover,
#finalspace #idle_inhibitor.activated:hover {
  background-size: 1.5rem;
}

#finalspace #idle_inhibitor.activated {
  background-size: 1.25rem;
  background-image: url("./assets/lock-pause.svg");
}

#finalspace #custom-swaync {
  font-size: 1.1rem;
  padding-left: 0;
  min-width: 2.5rem;
}

#finalspace #custom-power {
  color: @critical;
  background: @background-alpha__0_3;
  font-size: 1rem;
  padding-left: 0.75rem;
  padding-right: 0.65rem;
  transition: all 250ms ease-in-out;
}

#finalspace #custom-power:hover {
  background: @background;
}

#custom-power {
  color: @critical;
}

/* NOTE: UNUSED SELECTOR KEPT AS REFERENCE */

/*
#pulseaudio-slider trough
#pulseaudio-slider highlight 
#network 
#network.disconnected 
#mpd 
#mpd.disconnected 
#mpd.stopped 
#mpd.paused 
#pulseaudio-slider slider */