@import "./config.rasi"

/* DIFFERENCES */

mainbox {
    margin:                     10% 45%;
    children:                   [ "listview" ];
}

entry,
textbox-prompt-icon,
imagebox,
inputbar,
textbox {
    enabled:                    false;
}

listview {
  lines:                        21;
	dynamic:                      false;
	cycle:                        false;
}                              
                               
