@import "../../.cache/wal/colors-waybar.css";

@define-color bg_window @background-alpha__0_6;
@define-color bg_main @background;
@define-color fg_main @color6;
window {
  font-family: UbuntuMono Nerd Font;
  font-size: 1.4rem;
  color: @fg_main;
  background-color: @bg_window;
}

window > * > * {
  border-radius: 2px;
  border: 2px solid @fg_main;
  background-color: @bg_main;
  margin-left: 222px;
  margin-right: 122px;
  margin-top: 96px;
  margin-bottom: 96px;
  padding-bottom: 1em;
}

button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
  margin: -2px;
  background-color: transparent;
  border-radius: 2px;
  color: #286983;
}

button:hover,
button:focus {
  color: transparent;
}

button:hover > *,
button:focus > * {
  color: #d7827e;
}

#lock {
  background-image: image(url("./icons/lock-plain.svg"));
}
#lock:hover,
#lock:focus {
  background-image: image(url("./icons/lock.svg"));
}

#logout {
  background-image: image(url("./icons/logout-plain.svg"));
}
#logout:hover,
#logout:focus {
  background-image: image(url("./icons/logout.svg"));
}

#suspend {
  background-image: image(url("./icons/suspend-plain.svg"));
}
#suspend:hover,
#suspend:focus {
  background-image: image(url("./icons/suspend.svg"));
}

#shutdown {
  background-image: image(url("./icons/poweroff-plain.svg"));
}
#shutdown:hover,
#shutdown:focus {
  background-image: image(url("./icons/poweroff.svg"));
}

#reboot {
  background-image: image(url("./icons/reboot-plain.svg"));
}
#reboot:hover,
#reboot:focus {
  background-image: image(url("./icons/reboot.svg"));
}

#hibernate {
  background-image: image(url("./icons/hibernate-plain.svg"));
}
#hibernate:hover,
#hibernate:focus {
  background-image: image(url("./icons/hibernate.svg"));
}
