@import url("file:///home/tomeczku/.cache/wallust/targets/waybar.css");

* {
  font-family: "UbuntuMono Nerd Font";
  font-weight: bold;
  border-radius: 0px;
  transition: all 200ms ease-in-out;
  border: 0px;
  outline: none;
  box-shadow: none;
}

.control-center .notification-content {
  border-radius: 0px;
}

.control-center .notification,
.control-center .notification {
  background: none;
}
.control-center button.close-button {
  background: alpha(@critical, 0.5);
  color: @background;
  text-shadow: none;
  padding: 0;
  border-radius: 0px;
  margin-top: 6px;
  margin-right: 6px;
  font-size: 4px;
}

.control-center .notification-group button.close-button {
  margin-top: 12px;
  margin-right: 12px;
}

.control-center .notification-group:not(.collapsed) button.close-button {
  margin-top: 10px;
  margin-right: 10px;
}

.control-center button.close-button:hover,
.control-center button.close-button:active {
  box-shadow: none;
  color: @background;
  background: @critical;
  border: none;
}

.control-center .notification:hover,
.control-center .notification:focus,
.control-center .notification-content,
.control-center .notification-content * {
  background: @background;
  box-shadow: none;
}

.control-center .notification {
  background: @color13;
}
.control-center button {
  color: @background;
  background: alpha(@color13, 0.5);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.control-center button:hover,
.control-center button:focus {
  background: @color13;
}

.notification-row {
  background: transparent;
  border-radius: 0px;
  outline: none;
  border: 0px;
  box-shadow: none;
  margin-top: -1px;
  margin-right: -7px;
  color: @color2;
}

.notification-group {
  background: alpha(@color2, 0.1);
}

.notification {
  border: 0px;
  background: transparent;
  border-radius: 0px;
  color: @color2;
}

.notification-content {
  color: @color2;
  background: @background;
  padding: 6px 10px 6px 6px;
  border-radius: 0px;
  border: 0px;
  margin: 0px;
}

.notification-default-action {
  margin: 0;
  padding: 0;
  border-radius: 0px;
}

.notification .app-icon.bottom.right {
  /* disable */
  opacity: 0;
}

.close-button {
  background: alpha(@critical, 0.5);
  color: @background;
  text-shadow: none;
  padding: 0;
  border-radius: 0px;
  margin-top: 10px;
  margin-right: 12px;
  font-size: 4px;
}

.close-button:hover {
  box-shadow: none;
  background: @critical;
  border: none;
}

.notification-action {
  color: @background;
  border-top: none;
  border-radius: 0px;
}

.notification-default-action:hover,
.notification-action:hover {
  background: @color1;
}

.notification-default-action {
  border-radius: 0px;
  margin: 5px;
}

.notification-default-action:not(:only-child) {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.notification-action:first-child {
  border-bottom-left-radius: 2px;
}

.notification-action:last-child {
  border-bottom-right-radius: 2px;
}

.inline-reply {
  margin-top: 8px;
}

.inline-reply-entry {
  background: @background;
  color: @color2;
  caret-color: @color2;
  border-radius: 0px;
}

.inline-reply-button {
  font-size: 0.5rem;
  margin-left: 4px;
  background: @background;
  border-radius: 0px;
  color: @color2;
}

.inline-reply-button:disabled {
  background: initial;
  color: alpha(@foreground, 0.5);
  border: 1px solid transparent;
}

.inline-reply-button:hover {
  background: @color4;
}

.body-image {
  margin-top: 6px;
  color: @color13;
  border-radius: 0px;
}

.summary {
  font-size: 1rem;
  font-weight: 200;
  background: transparent;
  color: @color13;
  text-shadow: none;
  margin-top: 6px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 16px;
}

.time {
  font-size: 1rem;
  font-weight: 200;
  background: transparent;
  color: @color2;
  text-shadow: none;
  margin-top: 6px;
  margin-right: 58px;
}

.body {
  font-size: 1rem;
  font-weight: 200;
  background: @background;
  color: @color2;
  text-shadow: none;
  margin-bottom: 6px;
  margin-left: 8px;
}

.control-center {
  background: @background;
  border: 0px;
  border-radius: 0px;
}

.control-center-list {
  background: transparent;
}

.control-center-list-placeholder {
  opacity: 0.5;
}

.floating-notifications {
  border: 0px;
  background: transparent;
  border-radius: 0px;
}

.floating-notifications > scrolledwindow > viewport > box {
  background: transparent;
}

.floating-notifications {
  border: 0px;
}

.blank-window {
  border: 0px;
  border-radius: 0px;
  background: alpha(@background, 0.7);
}

.widget-title {
  color: @color13;
  background: transparent;
  padding: 3px 6px;
  margin: 5px;
  font-size: 1rem;
  border-radius: 0px;
}

.widget-title > button {
  font-size: 0.75rem;
  color: @background;
  border-radius: 0px;
  background: alpha(@color13, 0.5);
  border: none;
}

.widget-title > button:hover {
  color: @background;
  background: @color13;
}

.widget-dnd {
  background: @background;
  padding: 3px 6px;
  margin: 5px;
  border-radius: 0px;
  font-size: 1.2rem;
  color: @color13;
}

.widget-dnd > *:not(switch) {
  color: @color4;
}

.widget-dnd > switch {
  border-radius: 0px;
  background: alpha(@color13, 0.5);
}

.widget-dnd:hover > switch {
  background: @color13;
}

.widget-dnd > switch:checked {
  background: @critical;
}

.widget-dnd > switch slider {
  background: @background;
  border-radius: 0px;
}

.widget-dnd > switch:checked slider {
  background: @background;
  border-radius: 0px;
}

.widget-label {
  margin: 5px;
}

.widget-label > label {
  font-size: 1rem;
  color: @color2;
}

.widget-buttons-grid {
  font-size: large;
  color: @color13;
  border-radius: 0px;
  background: transparent;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  margin: 1px;
  color: @background;
  border-radius: 0px;
  background: transparent;
  color: @color2;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 35px;
  padding-right: 35px;
  margin-left: 6px;
  margin-right: 6px;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  border-radius: 0px;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  background: @background;
  border-radius: 0px;
}
.widget-buttons-grid > flowbox > flowboxchild > button:hover > * {
  color: @background;
}

.widget-buttons-grid > flowbox > flowboxchild:last-child {
  border-radius: 0;
  border-left: 1px solid @color2;
}
.widget-buttons-grid > flowbox > flowboxchild:first-child {
  border-radius: 0px;
  border-right: 1px solid @color2;
}

.widget-menubar > box > .menu-button-bar > button {
  border: none;
  background: transparent;
}

.topbar-buttons > button {
  border: none;
  background: transparent;
}

.low {
  background: @color2;
  padding: 0px;
  border-radius: 0px;
}

.normal {
  background: @color2;
  padding: 0px;
  border-radius: 0px;
}

.critical {
  background: @critical;
  padding: 0px;
  border-radius: 0px;
}
